@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root {
    --black-color: #000;
    --white-color: #fff;
    --first-color: rgb(3, 44, 51);
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #000;
}

.img-logo{
    cursor: pointer;
}

.hero {
    height: 80vh;
    background-image: linear-gradient(to top, rgba(35, 34, 37, 0.466) 0%, rgba(46, 43, 45, 0.445) 100%), url(../IMG/te-nguyen-Wt7XT1R6sjU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.hero .info-content {
    grid-column: 2 / 10;
    grid-row: 2 / 8;
    color: white;
}

.hero h1 {
    font-size: 6vw;
    color: rgb(3, 44, 51);
}

.hero h3 {
    font-size: 1.6em;
    font-weight: 300;
}

.hero p {
    font-size: 1.2em;
    font-weight: 300;
}

.hero .btn {
    font-size: 1.2em;
    background: none;
    color: white;
    border: 2px solid rgb(3, 44, 51);
    padding: .5rem;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background: rgb(3, 44, 51);
    cursor: pointer;
}

.footer {
    display: grid;
    height: 150px;
    align-items: center;
    background: black;
    color: white;
    grid-template-areas:
        "listen-online";
}

.footer .listen-online {
    grid-template-areas: listen-online;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 44, 51);
    color: white;
    grid-template-areas: "listen-online";
    padding: 2rem;
}

.footer .listen-online .fas {
    font-size: 1.5em;
    margin-right: 1rem;
}

.footer .listen-online a {
    text-decoration: none;
    color: white;
}

.footer .listen-online a:hover {
    opacity: 0.75;
}

.social-network {
    text-align: center;
}

.footer .social-network .fab {
    font-size: 1.5em;
    margin-right: 1rem;
}

.footer .social-network a {
    text-decoration: none;
    color: white;
}

.icons {
    transition: all .3s ease;
}

.icons:hover {
    color: rgb(3, 44, 51);
}

@media screen and (max-width:768px) {
    .hero h1 {
        font-size: 3.5em;
    }

    .text-right {
        text-align: right;
    }
}
